body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  font-size: 16;
}

nav {
  text-align: center;
}

nav>a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: tan;
}

section#featured-property>p {
  text-align: center;
  width; 800px;
  padding-left: 333px;
  padding-right: 333px;
}

section#details {
  text-align: center;
}

section#details>div {
  width: 25%;
  background-color: tan;
  float: left
}